body {
background-color: #000000;
color: rgb(0, 25, 253);
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #8cff00;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}
